@mixin flexbox($ai, $jc) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin imgCover($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
  object-fit: cover;
  object-position: center;
}

@mixin ellipsis($lines, $display: block) {
  @if ($lines > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    white-space: normal;
  } @else {
    display: $display;
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin systemScroll($direction) {
  @if $direction == "x" {
    overflow-x: auto;
    white-space: nowrap;
  }
  @if $direction == "y" {
    overflow-y: auto;
  }
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin blind() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
